<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="assets/img/52312457.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
          <h3>¿Quienes somos?</h3>
          <!-- <ul>
            <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
            <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
            <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
          </ul> -->
          <span data-purecounter-start="0" data-purecounter-end="65" data-purecounter-duration="2" class="purecounter"></span>
          <p>Nuestra cartera de clientes aprueba nuestros procesos en el manejo de nuestros servicios.
            mediante un enfoque innovador que combina tecnología LiDAR y drones. Nuestra empresa se dedica a proporcionar soluciones de cartografía de vanguardia para una amplia variedad de sectores, desde la agricultura y la construcción hasta la gestión de recursos naturales y la planificación urbana.
            Con un equipo de expertos en tecnología geoespacial y topografía, estamos comprometidos con la excelencia y la precisión en cada proyecto que emprendemos. Nuestro uso de tecnología LiDAR de última generación y drones equipados con cámaras de alta resolución nos permite capturar datos detallados y precisos de manera eficiente, proporcionando a nuestros clientes información valiosa para la toma de decisiones informadas.
            En Espheriax, creemos en la innovación, la calidad y la satisfacción del cliente. Nuestro compromiso con la excelencia nos impulsa a seguir explorando nuevas tecnologías y métodos para mejorar constantemente nuestros servicios y ofrecer soluciones de mapeo de terrenos de primer nivel.
            Si buscas un socio confiable y experto en el mapeo de terrenos con tecnología LiDAR y drones, no busques más. ¡Estamos aquí para ayudarte a transformar tu visión en realidad!
          </p> 
        </div>
      </div>

    </div>
</section>